.top {
   &__left {
      display: flex;
      align-items: center;
      max-width: 402px;
      width: 100%;
      justify-content: space-between;
   }
}

.nav {
   display: flex;
   gap: 40px;

   &__btn {
      display: inline-flex;
      gap: 7px;
      align-items: center;
      color: #fff;
      font-size: 20px;
      padding: 3px 0;
      &_active{
         border-bottom: 1px solid #fff;   
      }
   }
}